<ng-container *ngIf="refresh$ | async as refresh">

  <mat-progress-spinner
    *ngIf="refresh.isLoading; else notLoading"
    [color]="'primary'"
    [mode]="'indeterminate'"
    [value]="50">
  </mat-progress-spinner>

  <ng-template #notLoading>
    <mat-list role="list" *ngIf="refresh.value; else isError">
      <mat-list-item role="listitem" *ngFor="let item of refresh.value | async">
        {{ item }}
      </mat-list-item>
    </mat-list>
<!--    {{refresh.value}}-->

    <ng-template #isError>

    </ng-template>
  </ng-template>

</ng-container>
<button (click)="refreshData()">Refresh</button>
